:root {
  --text-9xl-font-size: 8rem;
  --text-9xl-line-height: 1;
  --text-8xl-font-size: 6rem;
  --text-8xl-line-height: 1;
  --text-7xl-font-size: 4.5rem;
  --text-7xl-line-height: 1;
  --text-6xl-font-size: 4rem;
  --text-6xl-line-height: 1;
  --text-5xl-font-size: 3rem;
  --text-5xl-line-height: 1;
  --text-4xl-font-size: 2.25rem;
  --text-4xl-line-height: 2.5rem;
  --text-3xl-font-size: 1.875rem;
  --text-3xl-line-height: 2.25rem;
  --text-2xl-font-size: 1.5rem;
  --text-2xl-line-height: 2rem;
  --text-xl-font-size: 1.25rem;
  --text-xl-line-height: 1.75rem;
  --text-lg-font-size: 1.125rem;
  --text-lg-line-height: 1.75rem;
  --text-base-font-size: 1rem;
  --text-base-line-height: 1.5rem;
  --text-sm-font-size: 0.875rem;
  --text-sm-line-height: 1.25rem;
  --text-xs-font-size: 0.75rem;
  --text-xs-line-height: 1rem;
  --text-2xs-font-size: 0.6875rem;
  --text-2xs-line-height: 0.875rem;
  --text-3xs-font-size: 0.625rem;
  --text-3xs-line-height: 0.75rem;
  --text-4xs-font-size: 0.5rem;
  --text-4xs-line-height: 0.625rem;
}

html[data-text-size='largest'] {
  --text-7xl-font-size: 6rem;
  --text-7xl-line-height: 1;
  --text-6xl-font-size: 6rem;
  --text-6xl-line-height: 1;
  --text-5xl-font-size: 4.5rem;
  --text-5xl-line-height: 1;
  --text-4xl-font-size: 4rem;
  --text-4xl-line-height: 1;
  --text-3xl-font-size: 3rem;
  --text-3xl-line-height: 1;
  --text-2xl-font-size: 2.25rem;
  --text-2xl-line-height: 2.5rem;
  --text-xl-font-size: 1.875rem;
  --text-xl-line-height: 2.25rem;
  --text-lg-font-size: 1.5rem;
  --text-lg-line-height: 2rem;
  --text-base-font-size: 1.25rem;
  --text-base-line-height: 1.75rem;
  --text-sm-font-size: 1.125rem;
  --text-sm-line-height: 1.75rem;
  --text-xs-font-size: 1rem;
  --text-xs-line-height: 1.5rem;
  --text-2xs-font-size: 0.875rem;
  --text-2xs-line-height: 1.25rem;
  --text-3xs-font-size: 0.75rem;
  --text-3xs-line-height: 1rem;
  --text-4xs-font-size: 0.6875rem;
  --text-4xs-line-height: 0.875rem;
}

html[data-text-size='large'] {
  --text-7xl-font-size: 6rem;
  --text-7xl-line-height: 1;
  --text-6xl-font-size: 4.5rem;
  --text-6xl-line-height: 1;
  --text-5xl-font-size: 4rem;
  --text-5xl-line-height: 1;
  --text-4xl-font-size: 3rem;
  --text-4xl-line-height: 1;
  --text-3xl-font-size: 2.25rem;
  --text-3xl-line-height: 2.5rem;
  --text-2xl-font-size: 1.875rem;
  --text-2xl-line-height: 2.25rem;
  --text-xl-font-size: 1.5rem;
  --text-xl-line-height: 2rem;
  --text-lg-font-size: 1.25rem;
  --text-lg-line-height: 1.75rem;
  --text-base-font-size: 1.125rem;
  --text-base-line-height: 1.75rem;
  --text-sm-font-size: 1rem;
  --text-sm-line-height: 1.5rem;
  --text-xs-font-size: 0.875rem;
  --text-xs-line-height: 1.25rem;
  --text-2xs-font-size: 0.75rem;
  --text-2xs-line-height: 1rem;
  --text-3xs-font-size: 0.6875rem;
  --text-3xs-line-height: 0.875rem;
  --text-4xs-font-size: 0.625rem;
  --text-4xs-line-height: 0.75rem;
}

html[data-text-size='small'] {
  --text-9xl-font-size: 6rem;
  --text-9xl-line-height: 1;
  --text-8xl-font-size: 4.5rem;
  --text-8xl-line-height: 1;
  --text-7xl-font-size: 4rem;
  --text-7xl-line-height: 1;
  --text-6xl-font-size: 3rem;
  --text-6xl-line-height: 1;
  --text-5xl-font-size: 2.25rem;
  --text-5xl-line-height: 1;
  --text-4xl-font-size: 1.875rem;
  --text-4xl-line-height: 2.25rem;
  --text-3xl-font-size: 1.5rem;
  --text-3xl-line-height: 2rem;
  --text-2xl-font-size: 1.25rem;
  --text-2xl-line-height: 1.75rem;
  --text-xl-font-size: 1.125rem;
  --text-xl-line-height: 1.75rem;
  --text-lg-font-size: 1rem;
  --text-lg-line-height: 1.5rem;
  --text-base-font-size: 0.875rem;
  --text-base-line-height: 1.25rem;
  --text-sm-font-size: 0.75rem;
  --text-sm-line-height: 1rem;
  --text-xs-font-size: 0.6875rem;
  --text-xs-line-height: 0.875rem;
  --text-2xs-font-size: 0.625rem;
  --text-2xs-line-height: 0.75rem;
  --text-3xs-font-size: 0.5rem;
  --text-3xs-line-height: 0.625rem;
}

html[data-text-size='smallest'] {
  --text-9xl-font-size: 4.5rem;
  --text-9xl-line-height: 1;
  --text-8xl-font-size: 4rem;
  --text-8xl-line-height: 1;
  --text-7xl-font-size: 3rem;
  --text-7xl-line-height: 1;
  --text-6xl-font-size: 2.25rem;
  --text-6xl-line-height: 1;
  --text-5xl-font-size: 1.875rem;
  --text-5xl-line-height: 2.25rem;
  --text-4xl-font-size: 1.5rem;
  --text-4xl-line-height: 2rem;
  --text-3xl-font-size: 1.25rem;
  --text-3xl-line-height: 1.75rem;
  --text-2xl-font-size: 1.125rem;
  --text-2xl-line-height: 1.75rem;
  --text-xl-font-size: 1rem;
  --text-xl-line-height: 1.5rem;
  --text-lg-font-size: 0.875rem;
  --text-lg-line-height: 1.25rem;
  --text-base-font-size: 0.75rem;
  --text-base-line-height: 1rem;
  --text-sm-font-size: 0.6875rem;
  --text-sm-line-height: 0.875rem;
  --text-xs-font-size: 0.625rem;
  --text-xs-line-height: 0.75rem;
  --text-2xs-font-size: 0.5625rem;
  --text-2xs-line-height: 0.625rem;
  --text-3xs-font-size: 0.5rem;
  --text-3xs-line-height: 0.625rem;
}

body {
  font-size: var(--text-base-font-size);
  line-height: var(--text-base-line-height);
}
